.main-div {
  background-color: #ddc7bb;
  text-align: center;
  padding-bottom: 2rem;
}

.main-div h1 {
  font: 4em sans-serif;
}

.lighttheme {
  background-color: white;
}

.darktheme {
  background-color: black;
}

/* .expenseDiv {
  width: 1000px;
} */
